<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <%- include("../partials/head") %>
</head>

<body>
  <%- include("../partials/header") %>
  <div class="container-fluid mt-3">
    <h1 class="h4">404 Not Found</h1>
    <hr>
    <p>That page could not be found.</p>
  </div>
  <%- include("../partials/footer") %>
</body>

</html>