<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <title>New Paste</title>
</head>

<body>
    <%- include("../partials/header") %>
    <%- include("../partials/new-form") %>
    <%- include("../partials/footer") %>
</body>
</html>