<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <title>Password Protected</title>
</head>

<body>
    <% if (locals.error) {%>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
    <% } %>
    <form action="/<%if(locals.action) {%><%= action %>/<%}%><%= pasteId %>" method="post">
        <input type="text" name="passphrase" placeholder="Enter password">
        <input type="submit">
    </form>
</body>

</html>